/.tmp/
/dist/
/.idea/
/bin/
/_dotnet/neutralino-blazor/bin/
/_dotnet/neutralino-blazor/obj/
.syncthing.README.md.tmp
_flutter/demo/.dart_tool/chrome-device/Default/.syncthing.Reporting and NEL-journal.tmp
